@model Presentation.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "ForgotPassword";
}

<h2>ForgotPassword</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new {}))
{
    @Html.AntiForgeryToken()

    @Html.LabelFor(m => m.Email)
    <br/>
    @Html.TextBoxFor(m => m.Email)
}
