@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
@{
    if (string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <h2 class="text-danger">An error occurred while processing your request.</h2>
    }
    else
    {
        <h2 class="text-danger">@ViewBag.ErrorMessage</h2>
    }
}
