@using System.Web.UI.WebControls
@{
    ViewBag.Title = "WindowsAuthenticationExample";
}

<h2>Test</h2>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Username</h3>
<li>@ViewBag.Config</li>
<li>@ViewBag.IIS</li>
