@model Web.Models.StudentViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@ViewBag.Message

@using (Html.BeginForm("NewStudent", "Student", new { }, FormMethod.Post, new { }))
{
    @Html.AntiForgeryToken()

    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name)
    
    <br/>
    <input type="submit" class="btn btn-default" value="New Student" />
}

<br />
<label for="Id">Student Id:</label>
<input id="Id" name="Id" type="number"/>
<br />
<input id="findButton" type="button" class="btn btn-default" value="Find Student By Id" onClick="findStudent"/>

<script type="text/javascript">
    //document.getElementById("findButton").onclick(findStudent);
    $("#findButton").on('click', findStudent);
    function findStudent() {
        window.open(location.origin + "/Student/FindStudent/" + document.getElementById("Id").value);
    }
</script>
