@model Presentation.Web.Models.Student.NewStudentViewModel
@{
    ViewBag.Title = "NewStudent";
}

<h2>New Student</h2>

@if (Model != null && Model.Name != null)
{
    <p>Student with the name of: @Model.Name, was created. </p>
}
else
{
    <p>Nothing to see here.</p>
}
