@model Web.Models.ForgotPasswordViewModelExample
@{
    ViewBag.Title = "ForgotPassword";
}

<h2>ForgotPassword</h2>

@using (Html.BeginForm("ForgotPassword", "ExampleAccount", FormMethod.Post, new {}))
{
    @Html.AntiForgeryToken()
    @Html.LabelFor(m => m.Email)
    <br/>
    @Html.TextBoxFor(m => m.Email)
}
